<!DOCTYPE html>
<html>
  <head>
    <title>IDEA - UNIDUELL</title>
      <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css"/>
      <link rel='stylesheet' href="/stylesheets/style.css"/>
      <script type="text/javascript" src="/javascripts/jquery-3.1.0.min.js"></script>
      <script type="text/javascript" src='/javascripts/game.js'></script>
      <script type="text/javascript" src='/javascripts/client.js'></script>
      <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
      <script src="socket.io/socket.io.js"></script>
  </head>
  <body onload="gameLoop()">
    {{{body}}}
  </body>
</html>
