<div class="col-md-6 frame">
     <div id="waitingBox" class="mainBox">
         <h2>warte auf Gegner...</h2>
         <div id="readyButtonBox">
             <input id="readyButton" class="btn btn-success btn-lg btn-block" type="button" value="Bereit">
         </div>
     </div>
 </div>
 <div class="col-md-4 frame">
     <div id="questionCountBox" class="mainBox">
         <div id="f1" class="questionCountBlock"></div>
         <div id="f2" class="questionCountBlock"></div>
         <div id="f3" class="questionCountBlock"></div>
         <div id="f4" class="questionCountBlock"></div>
         <div id="f5" class="questionCountBlock"></div>
         <div id="f6" class="questionCountBlock"></div>
         <div id="f7" class="questionCountBlock"></div>
         <div id="f8" class="questionCountBlock"></div>
         <div id="f9" class="questionCountBlock"></div>
         <div id="f10" class="questionCountBlock"></div>
     </div>
 </div>
 <div class="col-md-2 frame">
     <div id="scoreboardBox" class="mainBox">
         <h2 id="scoreText">Score</h2>
         <h2>0 - 0</h2>
     </div>
 </div>
 <div class="col-md-6 frame">
     <div id="timerBox" class="mainBox">
         <div id="timer" class="progress">
             <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
             </div>
         </div>
     </div>
 </div>
 <div class="col-md-6 frame">
     <div id="chatBox" class="mainBox">
         <h2 id="opponentName">Wilkommen!</h2>
         <div id="chatHistory">
         </div>
         <div class="input-group">
             <input id="messageInput" type="text" class="form-control chatInput" placeholder="Nachricht verfassen...">
             <span class="input-group-btn">
                <button id="sendMessageButton" class="btn btn-success chatInput" type="button">Senden</button>
             </span>
         </div>
     </div>
 </div>